<!-- Responsive panel example-->

<ol class="breadcrumb">
  <li><a href="/trips">Trips</a></li>
  <li class="active"><%= @trip.name %></li>
</ol>

<!-- TRIP DETAILS -->
<div class="col-sm-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= @trip.name %> Trip Details</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <dl class="dl">

            <dt>Description</dt>
            <dd><%= @trip.description %></dd>

            <dt>Start date</dt>
            <dd><%= @trip.start_date.strftime('%A, %m/%d/%y') %></dd>

            <dt>End date</dt>
            <dd><%= @trip.end_date.strftime('%A, %m/%d/%y') %></dd>

          </dl>
          <!-- EDIT TRIP DETAILS -->
          <div class="btn-group btn-group-justified">

            <a href="/trips/<%= @trip.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>

            <a href="/delete_trip/<%= @trip.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- TRAVELERS -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Travelers</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <table class="table">
            <tbody>
              <% @trip.tripusers.each do |tripuser| %>
                <tr>
                  <td class="col-md-10" style="border-top: none;"><%= tripuser.user.name %></td>
                  <td class="col-md-2" style="border-top: none;">
                    <a href="/delete_tripuser/<%= tripuser.id %>" class="btn btn-sm btn-danger" rel="nofollow">
                      <i class="fa fa-trash-o"></i>
                    </a>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <!-- ADD TRAVELERS -->
        <div class="page-header">
            <h3 class="panel-title">Add Travelers</h3>
        </div>
        <div class="panel-body">
          <form action="/create_tripuser" method="post" class="form-horizontal">
            <!-- Hidden input for authenticity token to protect from forgery -->
            <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

            <input type="hidden" name="trip_id" value="<%= @trip.id %>">

            <!-- Label and input for user_id -->
            <div class="form-group">
              <label for="user_id" class="col-sm-3 control-label">
                Name
              </label>
              <div class="col-sm-9">
                <%=select_tag(:user_id, options_from_collection_for_select(User.all, :id, :name, 1), :class => "form-control") %>
              </div>
            </div>

              <div class="form-group text-center">
                  <button class="btn btn-success">
                    Add Traveler
                  </button>
              </div>
            </form>
        </div>
    </div>
  </div>

<!-- DESTINATIONS -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Countries to Visit</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <table class="table">
            <tbody>
              <% @trip.destinations.each do |destination| %>
                <tr>
                  <td class="col-md-8" style="border-top: none;"><%= destination.country.name %></td>
                  <td class="col-md-2" style="border-top: none;">
                    <a href="/destinations/<%= destination.id %>/edit" class="btn btn-sm btn-warning">
                      <i class="fa fa-edit"></i>
                    </a>
                  </td>
                  <td class="col-md-2" style="border-top: none;">
                    <a href="/delete_destination/<%= destination.id %>" class="btn btn-sm btn-danger" rel="nofollow">
                      <i class="fa fa-trash-o"></i>
                    </a>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>

    <!--ADD NEW DESTINATION -->
      <div class="page-header">
        <h3 class="panel-title">Add Country</h3>
      </div>
      <div class="panel-body">
        <form action="/create_destination" method="post" class="form-horizontal">
        <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

          <input type="hidden" name="trip_id" value="<%= @trip.id %>">

          <!-- Label and input for country_id -->
          <div class="form-group">
            <label for="country_id" class="col-sm-3 control-label">
              Country
            </label>
            <div class="col-sm-9">
              <%=select_tag(:country_id, options_from_collection_for_select(Country.all, :id, :name, 1), :class => "form-control") %>
            </div>
          </div>

          <div class="form-group text-center">
              <button class="btn btn-success">
                Add Country
              </button>
          </div>

        </form>
      </div>
    </div>
  </div>

<!--CITIES -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Cities to Visit</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <table class="table">
            <tbody>
              <% @trip.cities.each do |city| %>
                <tr>
                  <td class="col-md-8" style="border-top: none;"><%= city.name %>, <%= city.country.name %></td>
                  <td class="col-md-2" style="border-top: none;">
                    <a href="/cities/<%= city.id %>/edit" class="btn btn-sm btn-warning">
                      <i class="fa fa-edit"></i>
                    </a>
                  </td>
                  <td class="col-md-2" style="border-top: none;">
                    <a href="/delete_city/<%= city.id %>" class="btn btn-sm btn-danger" rel="nofollow">
                      <i class="fa fa-trash-o"></i>
                    </a>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>

      <!--ADD NEW CITY -->
      <div class="page-header">
        <h3 class="panel-title">Add City</h3>
      </div>
      <div class="panel-body">
        <form action="/create_city" method="post" class="form-horizontal">
        <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

          <input type="hidden" name="trip_id" value="<%= @trip.id %>">

        <!-- Label and input for name -->
        <div class="form-group">
          <label for="name" class="col-sm-3 control-label">
            City
          </label>
          <div class="col-sm-9">
            <input type="text" id="name" name="name" placeholder="City name" class="form-control">
          </div>
        </div>

        <!-- Label and input for country_id -->
        <div class="form-group">
          <label for="country_id" class="col-sm-3 control-label">
            Country
          </label>
          <div class="col-sm-9">
            <%= select_tag(:country_id, options_from_collection_for_select(@trip.countries, :id, :name, 1), :class => "form-control") %>
          </div>
        </div>

          <div class="form-group text-center">
              <button class="btn btn-success">
                Add City
              </button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>

<!-- SITES TO SEE -->
  <div class="col-sm-8 isotope-item">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Sites to See</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <table class="table">
              <thead>
                <tr>
                  <th class="col-md-2">Site Name</th>
                  <th class="col-sm-2">Location</th>
                  <th class="col-sm-2">Type</th>
                  <th class="col-sm-2">Image</th>
                  <th class="col-sm-1">Show</th>
                  <th class="col-sm-1">Edit</th>
                  <th class="col-sm-1">Delete</th>
                </tr>
                </thead>
                <tbody>
                <% @trip.sites.each do |site| %>
                  <tr>
                    <td><%= site.name %></td>
                    <td><%= site.city.name %>, <%= site.city.country.name %></td>
                    <td><%= site.type.name %></td>
                    <td><img width="150" src="<%= site.photo %>"</td>

                    <td>
                      <a href="/sites/<%= site.id %>" class="btn btn-sm btn-primary">
                        <i class="fa fa-search-plus"></i>
                      </a>
                    </td>
                    <td>
                      <a href="/sites/<%= site.id %>/edit" class="btn btn-sm btn-warning">
                        <i class="fa fa-edit"></i>
                      </a>
                    </td>
                    <td>
                      <a href="/delete_site/<%= site.id %>" class="btn btn-sm btn-danger" rel="nofollow">
                        <i class="fa fa-trash-o"></i>
                      </a>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      <!-- ADD NEW SITE -->
        <div class="page-header">
          <h3 class="panel-title">Add Site</h3>
        </div>
        <div class="panel-body">
          <form action="/create_site" method="post" class="form-horizontal">
          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

          <input type="hidden" name="trip_id" value="<%= @trip.id %>">

          <!-- Label and input for name -->
          <div class="form-group">
            <label for="name" class="col-sm-2 control-label">
              Site Name
            </label>
            <div class="col-sm-10">
              <input type="text" id="name" name="name" placeholder="Name" class="form-control">
            </div>
          </div>

          <!-- Label and input for description -->
          <div class="form-group">
            <label for="description" class="col-sm-2 control-label">
              Description
            </label>
            <div class="col-sm-10">
              <textarea id="description" name="description" placeholder="Description" class="form-control" rows="3"></textarea>
            </div>
          </div>

          <!-- Label and input for city_id -->
          <div class="form-group">
            <label for="city_id" class="col-sm-2 control-label">
              City
            </label>
            <div class="col-sm-10">
              <%= select_tag(:city_id, options_from_collection_for_select(City.all, :id, :name, 1), :class => "form-control") %>
            </div>
          </div>

          <!-- Label and input for type_id -->
          <div class="form-group">
            <label for="type_id" class="col-sm-2 control-label">
              Type
            </label>
            <div class="col-sm-10">
              <%= select_tag(:type_id, options_from_collection_for_select(Type.all, :id, :name, 1), :class => "form-control") %>
            </div>
          </div>

          <!-- Label and input for photo -->
          <div class="form-group">
            <label for="photo" class="col-sm-2 control-label">
              Image URL
            </label>
            <div class="col-sm-10">
              <input type="text" id="photo" name="photo" placeholder="Image URL" class="form-control">
            </div>
          </div>

          <div class="form-group text-center">
              <button class="btn btn-success">
                Add Site
              </button>
          </div>
        </form>
      </div>

      </div>
    </div>
  </div>
</div>


<!-- End responsive panel example -->
