<!-- Responsive panel example-->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Destinationsite #<%= @destinationsite.id %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <dl class="dl-horizontal">
              <dt>Trip</dt>
              <dd><%= @destinationsite.trip_id %></dd>

              <dt>Country</dt>
              <dd><%= @destinationsite.country_id %></dd>

              <dt>City</dt>
              <dd><%= @destinationsite.city_id %></dd>

              <dt>Site</dt>
              <dd><%= @destinationsite.site_id %></dd>

            </dl>
            <div class="btn-group btn-group-justified">
              <a href="/destinationsites" class="btn btn-primary">
                <i class="fa fa-chevron-left"></i>
              </a>

              <a href="/destinationsites/<%= @destinationsite.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>

              <a href="/delete_destinationsite/<%= @destinationsite.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
