<!-- Validation failure messages -->

<% if @site.errors.any? %>
  <% @site.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<!-- Responsive panel example -->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Add Site</h3>
      </div>
      <div class="panel-body">
        <form action="/create_site" method="post" class="form-horizontal">
          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

          <!-- Label and input for trip -->
          <div class="form-group">
            <label for="name" class="col-sm-2 control-label">
              Trip
            </label>
            <div class="col-sm-10">
              <%= select_tag(:trip_id, options_from_collection_for_select(Trip.all, :id, :name, @site.trip_id), :class => "form-control") %>
            </div>
          </div>

          <!-- Label and input for name -->
          <div class="form-group">
            <label for="name" class="col-sm-2 control-label">
              Site Name
            </label>
            <div class="col-sm-10">
              <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="<%= @site.name %>">
            </div>
          </div>

          <!-- Label and input for description -->
          <div class="form-group">
            <label for="description" class="col-sm-2 control-label">
              Description
            </label>
            <div class="col-sm-10">
              <textarea id="description" name="description" placeholder="Description" class="form-control" rows="3"><%= @site.description %></textarea>
            </div>
          </div>

          <!-- Label and input for city_id -->
          <div class="form-group">
            <label for="city_id" class="col-sm-2 control-label">
              City
            </label>
            <div class="col-sm-10">
              <%= select_tag(:city_id, options_from_collection_for_select(City.all, :id, :name, @site.city_id), :class => "form-control") %>
            </div>
          </div>

          <!-- Label and input for type_id -->
          <div class="form-group">
            <label for="type_id" class="col-sm-2 control-label">
              Type
            </label>
            <div class="col-sm-10">
              <%= select_tag(:type_id, options_from_collection_for_select(Type.all, :id, :name, @site.type_id), :class => "form-control") %>
            </div>
          </div>

          <!-- Label and input for photo -->
          <div class="form-group">
            <label for="photo" class="col-sm-2 control-label">
              Image URL
            </label>
            <div class="col-sm-10">
              <input type="text" id="photo" name="photo" placeholder="Image URL" class="form-control" value="<%= @site.photo %>">
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button class="btn btn-success">
                Create Site
              </button>
              or
              <a href="/sites">Cancel</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
